<h2> Enter your Filters </h2>
<form (ngSubmit)="submitForm()">

    <div class="form-group">
        <label for="followerInput"> Followers </label> <br />
        <div class="input-group">
            <input type="text" name="followerInput" [(ngModel)]="followerInput" class="form-control" />
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" (click)="addFollowerFilter(followerInput)"> Add
                    this </button>
            </div>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let filter of followerFilters">
                    <div class="row">
                        <span class="col-11"> {{filter.value}} </span>
                        <div class="col-1">
                            <button type="button" class="close" aria-label="Close" (click)="removeFilter(filter)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label for="keywordInput"> Keywords </label> <br />
        <div class="input-group">
            <input type="text" name="keywordInput" [(ngModel)]="keywordInput" class="form-control" />
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" (click)="addKeywordFilter(keywordInput)"> Add this
                </button>
            </div>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let filter of keywordFilters">
                    <div class="row">
                        <span class="col-11"> {{filter.value}} </span>
                        <div class="col-1">
                            <button type="button" class="close" aria-label="Close" (click)="removeFilter(filter)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <br />

    <div class="form-group">
        <label for="keywordInput"> Hashtags </label> <br />
        <div class="input-group">
            <input type="text" name="keywordInput" [(ngModel)]="hashtagInput" class="form-control" />
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" (click)="addHashtagFilter(hashtagInput)"> Add this
                </button>
            </div>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let filter of hashtagFilters">
                    <div class="row">
                        <span class="col-11"> {{filter.value}} </span>
                        <button type="button" class="close" aria-label="Close" (click)="removeFilter(filter)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>