<h2> Add more filters </h2>
<div class="row  justify-content-md-center">
    <input type="text" name="new-filter" [(ngModel)]="filterText" placeholder="Your filter goes here" class="col" />
    <!-- <div class="col-md-auto"> -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Type of Filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item" *ngFor="let type of filterTypes" (click)="selectType(type)"> {{type}} </li>
            </ul>
        </div>
    <div class="col col-lg-2">
        <button type="button" class="btn btn-primary" (click)="addFilter(filterText, filterType)"> Add this </button>
    </div>
</div>
<br />
<br />
<h3> Tweets Matching Filters </h3>
<br />
<ul>
    <li *ngFor="let tweet of tweets">
        <span> {{tweet.text}} </span>
    </li>
</ul>
