<h2> Add more filters </h2>
<div class="row  justify-content-md-center">
    <input type="text" name="new-filter" [(ngModel)]="filterText" placeholder="Your filter goes here" class="col" />
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ filterType }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item" *ngFor="let type of filterTypes" (click)="selectType(type)"> {{type}} </li>
        </ul>
    </div>
    <div class="col col-lg-2">
        <button type="button" class="btn btn-primary" (click)="addFilter(filterText, filterType)"> Add this </button>
    </div>
</div>
<br />
<br />
<h3> Tweets Matching Filters </h3>
<div class="row">
    <div class="col-sm-4">
        Filters :
        <hr />
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let filter of filters">
                <div class="row">
                    <span class="col-11"> {{filter?.value}} </span>
                    <button type="button" class="close" aria-label="Close" (click)="removeFilter(filter)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-sm-8">
        Tweets :
        <hr />
        <ul class="list-group">
            <div *ngFor="let tweet of tweets | paginate:  {itemsPerPage: 20, currentPage: currentPage}" class="md-1">
                <li href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"> ID: {{tweet?.id}} </h5>
                        <small class="text-muted"> {{tweet?.created_at.toDateString()}} </small>
                    </div>
                    <p class="mb-1"> {{tweet?.text}} </p>
                    <small class="text-muted"> {{tweet?.created_at.toLocaleTimeString()}} </small>

                </li>

                <br />
            </div>
        </ul>
         
		<nav  aria-label="Page navigation">
		    <div class="pagination justify-content-center">
				<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    		</div>
		</nav>

    </div>
</div>
